@import url('https://fonts.googleapis.com/css2?family=DynaPuff:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #FAFAFA;
    font-family: "Montserrat", sans-serif;
}

/* Header */

.header {
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.header-video {
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.3);
    object-fit: cover;
    z-index: 2;
}

.video-title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    font-family: 'DynaPuff', system-ui;
    color: #fff;
    font-size: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
}

.mi_znakomi {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin-top: 13vw;
    margin-left: 16vw;
    z-index: 3;
}

.hearts {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin-top: 13vw;
    margin-left: 70vw;
    z-index: 3;
}

.days {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    margin-top: 34vw;
    margin-left: 65vw;
    z-index: 3;
}

/* Main */

.main {
    height: 100%;
    width: 100%;
}

/* Flowers */

.flowers-decor {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.flower-1 {
    position: absolute;
    top: 790px;
    left: -14px;
}

.flower-2 {
    position: absolute;
    top: 1096px;
    left: 1353px;
}

.flower-3 {
    position: absolute;
    top: 2021px;
    left: 1261px;
}

.flower-4 {
    position: absolute;
    top: 2407px;
}

.flower-5 {
    position: absolute;
    top: 3468px;
    left: 14px;
}

.flower-6 {
    position: absolute;
    top: 4748px;
    left: 1124px;
}

.flower-7 {
    position: absolute;
    top: 5400px;
}

/* Titles */


.title-1 {
    position: absolute;
    font-weight: 300;
    color: #7E6551;
    font-size: 42px;
    text-align: center;
    top: 1981px;
    left: 950px;
}

.title-2 {
    position: absolute;
    font-weight: 300;
    color: #7E6551;
    font-size: 42px;
    text-align: center;
    top: 3111px;
    left: 80px;
}

.title-3 {
    position: absolute;
    font-weight: 300;
    color: #7E6551;
    font-size: 38px;
    text-align: center;
    top: 4280px;
    left: 950px;
}

.title-4 {
    position: absolute;
    font-weight: 300;
    color: #7E6551;
    font-size: 70px;
    text-align: center;
    top: 5700px;
    left: 420px;
}

/* Photos */

.photo-1 {
    margin-top: 336px;
    margin-left: 80px;
}

.photo-2 {
    margin-top: 206px;
    margin-left: 650px;
}

.photo-3 {
    margin-top: 160px;
    margin-left: 90px;
    height: 1300px;
}

/* Arrows */

.arrows {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
}

.arrow-0 {
    position: absolute;
    top: 1096px;
    left: 990px;
}

.arrow-1 {
    position: absolute;
    top: 2290px;
    left: 700px;
}

.arrow-2 {
    position: absolute;
    top: 3337px;
    left: 164px;
}

.arrow-3 {
    position: absolute;
    top: 4800px;
    left: 1070px;
}

.main-btn {
    background-color: #E9AFA3;
    height: 173px;
    width: 933px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: 700px;
}

.btn {
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}